/downloads/
/target/
**/cppbuild/**
**/target/**

# Mac
.DS_Store

# Eclipse
.classpath
.project
.settings

# IntelliJ
*.iml
.idea
llvm/src/main/java/org/bytedeco/javacpp/clang.java
llvm/src/main/java/org/bytedeco/javacpp/LLVM.java